header {
  background: no-repeat url(../images/bg-pattern-intro.svg),
    linear-gradient(
      90deg,
      $very-light-red-background 0%,
      $light-red-background 50% 100%
    );
  background-position: right;
  background-size: cover;
  height: 30vh;
  border-bottom-left-radius: 100px;
  // nav
  nav {
    padding-top: 2.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    // div
    div {
      display: flex;
      align-items: center;
      // li
      li {
        margin-left: 1rem;
        position: relative;
        padding-left: 2vw;

        &::after {
          content: url("../images/icon-arrow-light.svg");
          position: absolute;
          top: 0;
          right: -1rem;
        }
      }
      // end li
    }
    //  end div
  }
  li {
    display: inline-block;

    & li {
      display: none;
    }
  }
  // end nav
  > div {
    text-align: center;
    margin-top: 3%;

    h1 {
      font-weight: 700;
      font-size: 3.5rem;
      margin-bottom: 1%;
    }

    p {
      margin-bottom: 2%;
    }
  }
}
