.section-designed-for-future {
  background-color: $white;
  position: relative;

  h2 {
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
    width: max-content;
    margin: 0 auto 0 auto;
    color: $very-dark-blue;
    font-weight: 700;
    font-size: xx-large;
  }
}
.section-designed-for-future__grid {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.section-designed-for-future__grid-col-1 {
  padding-top: 35%;
}
.section-designed-for-future__illustration-editor-desktop {
  position: relative;
  right: -32%;
  width: 50vw;
}
