.section-designed-for-future {
  background-color: $white;
  position: relative;
  h2 {
    position: absolute;
    top: 15%;
    right: 50%;
  }
}
.section-designed-for-future__grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0fr;
  align-items: center;
  padding-left: 10%;
}
.illustration-editor-desktop {
  position: relative;
  right: -30%;
}
