.section-infrastrucure {
  height: 25vh;
  position: relative;
  border-radius: 0 100px 0 100px;
  padding-left: 45%;
  color: $white;
  background: no-repeat url(../images/bg-pattern-circles.svg),
    linear-gradient(
      90deg,
      $very-dark-gray-blue 0%,
      $very-dark-desaturated-blue 85% 100%
    );
  background-position: -50% 80%;
  //   img
  img {
    position: absolute;
    height: 140%;
    top: -15%;
    left: 10%;
  }
  //   end img
}
.section-infrastrucure__flex-container {
  // display: flex;
  // flex-direction: column;
  // background-color: red;
  // height: fit-content;
  // overflow-wrap: break-word;
  width: 50%;
}
