@import "_reset.scss";
@import "_variables.scss";
@import "_font.scss";
@import "_header.scss";
@import "_section-designed-for-future.scss";
@import "_section-infrastrucure.scss";
@import "_section-laptop.scss";
@import "_footer.scss";

body {
  font-size: 16px;
  color: $white;
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
}
ul {
  font-family: "Ubuntu", sans-serif;
}
section {
  line-height: 1.7rem;
  h3 {
    color: $very-dark-blue;
  }
}
section p {
  color: hsl(240, 2%, 60%);
}
.btn {
  padding: 0.5em 1em;
}
.btn-transparent {
  background-color: transparent;
  border: solid 1px white;
  border-radius: 100px;
}
