@import "_reset.scss";
@import "_variables.scss";
@import "_font.scss";
@import "_header.scss";
@import "_section-designed-for-future.scss";
@import "_section-infrastrucure.scss";
@import "_section-laptop.scss";
@import "_footer.scss";

body {
  font-size: 16px;
  color: $white;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}
ul {
  font-family: "Ubuntu", sans-serif;
}
section {
  line-height: 1.7rem;
  padding: 5vw;
  h3 {
    color: $very-dark-blue;
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: 700;
  }
  h3:nth-of-type(2) {
    margin-top: 3rem;
  }
}
section p {
  color: hsl(240, 2%, 50%);
  font-weight: 500;
}
.btn {
  padding: 0.5em 1em;
}
.btn-transparent {
  background-color: transparent;
  border: solid 1px white;
  border-radius: 100px;
}
