@import "_reset.scss";
@import "_variables.scss";
@import "_font.scss";
@import "_header.scss";
@import "_section-designed-for-future.scss";
@import "_section-infrastrucure.scss";
@import "_section-laptop.scss";
@import "_footer.scss";

body {
  font-size: 16px;
  color: $white;
  min-height: 100vh;
}
section {
  line-height: 1.7rem;
  h2,
  h3 {
    color: $very-dark-blue;
  }
  h3 {
  }
}
section p {
  color: hsl(240, 2%, 60%);
}
.btn {
  padding: 2rem;
}
